@model IOS.FacilityBooking.Web.Models.ChangePasswordModel

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { id = "changePasswordForm" }))
{
    @Html.AntiForgeryToken()

	<div id="changePasswordPanel_header">
		<h2>Change Password</h2>
	</div>
	
	<div id="changePasswordPanel_body">
		<table id="changePasswordTable">
			<tr>
				<td class="changePasswordTablelabel">@Html.LabelFor(m => m.OldPassword)</td>
			</tr>
			<tr>
				<td>@Html.PasswordFor(m => m.OldPassword , new { id = "oldpassword" , autocomplete="off", @class = "changePasswordTextBox" , placeholder="eg. X8df!90EO"})</td>
				<td class="form-alert">
					<div class="vee-container form-success">
						<div id="circle-8"></div>
					</div>
					<div class="form-error form-error-username">
						<p>Invalid Password - Only [a-z A-Z 0-9] are allowed.<br/>Password must be equal or more than 8 character.</p>
					</div>
				</td>
			</tr>
			<tr>
				<td class="changePasswordTablelabel">@Html.LabelFor(m => m.NewPassword)</td>
			</tr>
			<tr>
				<td>@Html.PasswordFor(m => m.NewPassword , new { id = "newpassword" , autocomplete="off", @class = "changePasswordTextBox" , placeholder="eg. X8df!90EO"})</td>
				<td class="form-alert">
					<div class="vee-container form-success">
						<div id="circle-9"></div>
					</div>
					<div class="form-error form-error-username">
						<p>Invalid Password - Only [a-z A-Z 0-9] are allowed.<br/>Password must be equal or more than 8 character.</p>
					</div>
				</td>
			</tr>
			<tr>
				<td class="changePasswordTablelabel">@Html.LabelFor(m => m.ConfirmPassword)</td>
			</tr>
			<tr>
				<td>@Html.PasswordFor(m => m.ConfirmPassword , new { id = "newconfirmpassword" , autocomplete="off", @class = "changePasswordTextBox" , placeholder="eg. X8df!90EO"})</td>
				<td class="form-alert">
					<div class="vee-container form-success">
						<div id="circle-10"></div>
					</div>
					<div class="form-error form-error-username">
						<p>Invalid Password - Only [a-z A-Z 0-9] are allowed.<br/>Password must be equal or more than 8 character.</p>
					</div>
				</td>
			</tr>
		</table>
		<p>
			<input id="changePasswordButton" type="submit" value="Change Password" />
		</p>
	</div>
}