@model IOS.FacilityBooking.Web.Models.LoginModel

@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - eRoom Booking</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
	<link href="~/Content/LoginModule.css" rel="stylesheet" />
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
	@Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
	<script src="~/Scripts/app/jquery-2.0.3.js"></script>
	<script src="~/Scripts/app/jquery-2.0.3.min.js"></script>
	<script src="~/Scripts/app/jquery-ui-1.10.3.custom.js"></script>
	<script src="~/Scripts/app/jquery-isLoading.js"></script>
	<script src="~/Scripts/app/raphael.js"></script>
</head>

<body>

	@RenderBody()

	<script src="~/Scripts/app/LoginModule.js"></script>
	@RenderSection("scripts", required: false)

</body>
</html>