@model IOS.FacilityBooking.Web.Models.RegisterModel

    
@using (Html.BeginForm("JsonRegister", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { Id = "registerForm" }))
{
    @Html.AntiForgeryToken()

    <div id="registerPanel_header">
		<h2>user registration</h2>
    </div>
	
	<div id="registerPanel_body">
		<table id="registerTable">
			<tr>
				<td class="registerTablelabel">@Html.LabelFor(m => m.UserName)</td>
			</tr>
			<tr>
				<td ><input name="UserName" id = "username" , autocomplete="off", class = "registerTextBox" , placeholder="eg. mysuperusername690" type="text" /> </td>
				<td class="form-alert">
					<div class="vee-container form-success">
						<div id="circle-1"></div>
					</div>
					<div class="form-error form-error-username">
						<p>Invalid Username - Only [a-z A-Z 0-9] are allowed.</p>
					</div>
				</td>
			</tr>
			<tr>
				<td class="registerTablelabel">@Html.LabelFor(m => m.Password)</td>
			</tr>
			<tr>
				<td >@Html.PasswordFor(m => m.Password, new { id = "registerpassword" , autocomplete="off", @class = "registerTextBox" , placeholder="eg. X8df!90EO"})</td>
				<td class="form-alert">
					<div class="vee-container form-success">
						<div id="circle-2"></div>
					</div>
					<div class="form-error form-error-password">
						<p>Invalid Password - Only [a-z A-Z 0-9] are allowed.<br/>Password must be equal or more than 8 character.</p>
					</div>
				</td>
			</tr>
			<tr>
				<td class="registerTablelabel">@Html.LabelFor(m => m.ConfirmPassword)</td>
			</tr>
			<tr>
				<td >@Html.PasswordFor(m => m.ConfirmPassword, new { id = "registerconfirmpassword", autocomplete="off" , @class = "registerTextBox" , placeholder="eg. X8df!90EO" })</td>
				<td class="form-alert">
					<div class="vee-container form-success">
						<div id="circle-3"></div>
					</div>
					<div class="form-error form-error-confirmpassword">
						<p>The Password does not match. Please check again.</p>
					</div>
				</td>
			</tr>
			<tr>
				<td class="registerTablelabel">@Html.LabelFor(m => m.Email)</td>
				
			</tr>
			<tr>
				<td >@Html.TextBoxFor(m => m.Email, new { id = "email" , autocomplete="off", @class = "registerTextBox" , placeholder="eg. mysupermail@mail.com" })</td>
				<td class="form-alert">
					<div class="vee-container form-success">
						<div id="circle-4"></div>
					</div>
					<div class="form-error form-error-email">
						<p>Hmm... are you sure that's a valid email?</p>
					</div>
				</td>
			</tr>
			<tr>
				<td class="registerTablelabel">@Html.LabelFor(m => m.ConfirmEmailAddress)</td>
			</tr>
			<tr>
				<td >@Html.TextBoxFor(m => m.ConfirmEmailAddress, new { id="confirmemail" , autocomplete="off", @class = "registerTextBox" , placeholder="eg. mysupermail@mail.com" })</td>
				<td class="form-alert">
					<div class="vee-container form-success">
						<div id="circle-5"></div>
					</div>
					<div class="form-error form-error-confirmemail">
						<p>The Email does not match. Please check again.</p>
					</div>
				</td>
			</tr>
			<tr>
				<td class="registerTablelabel">@Html.LabelFor(m => m.Address)</td>
				
			</tr>
			<tr>
				<td >@Html.TextBoxFor(m => m.Address, new { id="address" , @class = "registerTextBox" , autocomplete="off", placeholder="eg. 10 Super Road 8 #05-13 Singapore Post Centre Singapore 123456"} )</td>
				<td class="form-alert">
					<div class="vee-container form-success">
						<div id="circle-6"></div>
					</div>
					<div class="form-error form-error-confirmemail">
						<p>Invalid Address. Please check again.</p>
					</div>
				</td>
			</tr>
			<tr>
				<td class="registerTablelabel">@Html.LabelFor(m => m.PhoneNumber)</td>				
			</tr>
			<tr>
				<td >@Html.TextBoxFor(m => m.PhoneNumber, new { id = "phonenumber" , @class = "registerTextBox" , autocomplete="off", placeholder="eg. 12345678"})</td>
				<td class="form-alert">
					<div class="vee-container form-success">
						<div id="circle-7"></div>
					</div>
					<div class="form-error form-error-confirmemail">
						<p>Invalid Phone Number. Please check again.</p>
					</div>
				</td>
			</tr>
		</table>
		<p>
			@Html.CheckBoxFor(m => m.Agree, new { id = "registerAgree" })<label for="registerAgree" id="registerAgreeLabel">I have read and agreed to the <a id="showtermsNconditions">Terms and Conditions</a></label>
		</p>
		<p>
			<input disabled="disabled" id="registerButton" type="submit" value="Sign Up" />
		</p>
		<textarea cols="0" rows="0" id="termsNconditions">blahblahblah...</textarea>
	</div>
}