@model IOS.FacilityBooking.Web.Models.LoginModel

@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - eRoom Booking</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
	<link href="~/Content/BookingModule.css" rel="stylesheet" />
	<link href="~/Content/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
	<script src="~/Scripts/app/jquery-2.0.3.js"></script>
	<script src="~/Scripts/app/jquery-2.0.3.min.js"></script>
	<script src="~/Scripts/app/jquery-ui-1.10.3.custom.js"></script>
	<script src="~/Scripts/app/Calendar.js"></script>
</head>

<body>
	@if (User.Identity.IsAuthenticated)
	{
		<div id="header">
			<div class="container">
				<h1>iOneSoftSolutions</h1>
				<div id="main_menu">
					<ul>
						@using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
						{
							@Html.AntiForgeryToken()
							<li id="showMyBooking"		class="main_menu_list current_selected">My Booking</li>
							<li id="showNewBooking"		class="main_menu_list">New Booking</li>
							<li id="showBookingHistory" class="main_menu_list">Booking History</li>
							<li id="showLogOff"			class="main_menu_list">Log off</li>
						}
					</ul>
				</div>
			</div>
		</div>
	
		<div id="main_content">
			@RenderBody()
		</div>

		<div id="footer">
			<div class="footer_container">
			</div>
		</div>
	} 


	<script src="~/Scripts/app/BookingModule.js"></script>
	<script src="~/Scripts/app/LoginModule.js"></script>
	@RenderSection("scripts", required: false)

</body>
</html>