@model IOS.FacilityBooking.Web.Models.LoginModel

@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - eRoom Booking</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
	@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")<script>

	$(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		var calendar = $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			selectable: true,
			selectHelper: true,
			select: function(start, end, allDay) {
				var title = prompt('Event Title:');
				if (title) {
					calendar.fullCalendar('renderEvent',
						{
							title: title,
							start: start,
							end: end,
							allDay: allDay
						},
						true // make the event "stick"
					);
				}
				calendar.fullCalendar('unselect');
			},
			editable: true,
			events: [
				{
					title: 'All Day Event',
					start: new Date(y, m, 1)
				},
				{
					title: 'Long Event',
					start: new Date(y, m, d-5),
					end: new Date(y, m, d-2)
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d-3, 16, 0),
					allDay: false
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d+4, 16, 0),
					allDay: false
				},
				{
					title: 'Meeting',
					start: new Date(y, m, d, 10, 30),
					allDay: false
				},
				{
					title: 'Lunch',
					start: new Date(y, m, d, 12, 0),
					end: new Date(y, m, d, 14, 0),
					allDay: false
				},
				{
					title: 'Birthday Party',
					start: new Date(y, m, d+1, 19, 0),
					end: new Date(y, m, d+1, 22, 30),
					allDay: false
				},
				{
					title: 'Click for Google',
					start: new Date(y, m, 28),
					end: new Date(y, m, 29),
					url: 'http://google.com/'
				}
			]
		});
		
	});

</script>
</head>

<body>
	@if (User.Identity.IsAuthenticated)
	{
		<div id="header">
			<div class="container">
				<h1>iOneSoftSolutions</h1>
				<div id="main_menu">
					<ul>
						@using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
						{
							@Html.AntiForgeryToken()
							<li id="showMyBooking"		class="main_menu_list current_selected">My Booking</li>
							<li id="showNewBooking"		class="main_menu_list">New Booking</li>
							<li id="showBookingHistory" class="main_menu_list">Booking History</li>
							<li id="showLogOff"			class="main_menu_list">Log off</li>
						}
					</ul>
				</div>
			</div>
		</div>
	
		<div id="main_content">
			@RenderBody()
		</div>

		<div id="footer">
			<div class="footer_container">
			</div>
		</div>
	} 
	else 
	{
		@RenderBody()
	}


	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/javascript")
	@RenderSection("scripts", required: false)
</body>
</html>